@using LawBookCases.Module.Extensions;
@using LawBookCases.Module.Models;
@using Orchard.ContentManagement

@{
    ContentItem blog = Model.ContentItem;
    var displayText = blog.ContentManager.GetItemMetadata(blog).DisplayText;
        Layout.Title = T("Manage {0}", displayText);
}

@Display(Model.Header)

@Display(Model.Actions)

<div class="manage"><a href="@Url.CasePostCreate((CasePart)Model.ContentItem.Get(typeof(CasePart)))" class="add button primaryAction">@T("New Post")</a></div>
@Display(Model.Content)