@model RM.QuickLogOn.OAuth.Models.FacebookSettingsPart
@using Orchard.Utility.Extensions;
@{
    var baseUri = new Uri(WorkContext.CurrentSite.BaseUrl);
    var callbackUrl = new Uri(baseUri, Url.Action("Auth", "FacebookOAuth", new { area = "RM.QuickLogOn.OAuth" })).ToString();
 }
<fieldset>
    <legend>@T("Facebook OAuth")</legend>
    <ol style="list-style-type: decimal;padding-left: 20px;">
        <li>@T("Setup or update existing Facebook App:")&nbsp;<a href="https://developers.facebook.com/apps">https://developers.facebook.com/apps</a></li>
        <li>@T("Put callback url to Facebook App settings:")&nbsp;@Html.Link(callbackUrl, callbackUrl)</li>
        <li>@T("Receive ClientId and ClientSecret from Facebook App and put them into appropriate fields below")</li>
    </ol>
    <div>
        <label for="@Html.FieldIdFor(m => m.ClientId)">@T("Client Id")</label>
        @Html.TextBoxFor(m=>m.ClientId)
        @Html.ValidationMessage("ClientId", "*")
        <span class="hint">@T("Enter client id.")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.ClientSecret)">@T("Client Secret")</label>
        @Html.PasswordFor(m=>m.ClientSecret)
        @Html.ValidationMessage("ClientSecret", "*")
        <span class="hint">@T("Entre client secret. Leave empty to skip change.")</span>
    </div>
</fieldset>